schema/etc/1.5/schemas/internal/internalQueryRecordView.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <!--

        Copyright 2013 VMware, Inc. All rights reserved. Permission is
        hereby granted, free of charge, to any person obtaining a copy of this
        software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the
        rights to use, copy, modify, merge, publish, distribute, sublicense,
        and/or sell copies of the Software, and to permit persons to whom the
        Software is furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software. THE
        SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
        IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
        CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
        TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
        SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. Except as
        explicitly provided herein, no express or implied licenses, under any
        VMware patents, copyrights, trademarks, or any other intellectual
        property rights, are granted or waived by implication, exhaustion,
        estoppel, or otherwise, on modified versions of the Software.
    -->
<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">

    <xs:include schemaLocation="../vcloud/common.xsd" />
    <xs:include schemaLocation="../vcloud/queryRecordView.xsd" />

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud
            query objects.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="LicensingReportRecord" type="QueryResultLicensingReportRecordType"
        substitutionGroup="Record">
        <xs:annotation>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                A single licensingReport query result in records format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QueryResultLicensingReportRecordType">
        <xs:annotation>
            <xs:documentation source="internal"/>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
            <xs:documentation xml:lang="en">
                Type for a single licensingReport query result in records format.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="QueryResultRecordType">
                <xs:attribute name="reportId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of this report
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="startDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            starting date of report coverage
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="endDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            end date of report coverage
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="LicensingReportSampleRecord" type="QueryResultLicensingReportSampleRecordType"
        substitutionGroup="Record">
        <xs:annotation>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                A single licensingReportSample query result in records format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QueryResultLicensingReportSampleRecordType">
        <xs:annotation>
            <xs:documentation source="internal"/>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
            <xs:documentation xml:lang="en">
                Type for a single licensingReportSample query result in records format.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="QueryResultRecordType">
                <xs:attribute name="parentReportId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of parent report
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sampleId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of this sample
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="observationDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Observation date
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="allocatedVirtualMemory" type="xs:long">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Amount of virtual RAM used by powered on VMs in the system (in megabyte)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="physicalMemoryUsed" type="xs:long">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Amount of physical memory used by powered on VMs in the system (in megabyte)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="totalPhysicalMemory" type="xs:long">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Total amount of physical memory installed in the compute substrate (in megabytes)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="physicalSocketCount" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Total number of physical sockets installed in the compute substrate
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="virtualProcessorCount" type="xs:long">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Total number of virtual CPUs used by powered on VMs in the system
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="vmCount" type="xs:long">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Total number of active VMs of that particular org type (TODO: really?!)
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="subscribingToRemoteSites" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Whether the content-library subscribing feature is used
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="publishingToRemoteSites" type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Whether the content-library publishing feature is used
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="LicensingManagedServerRecord" type="QueryResultLicensingManagedServerRecordType"
        substitutionGroup="Record">
        <xs:annotation>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                A single licensingManagedServer query result in records format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QueryResultLicensingManagedServerRecordType">
        <xs:annotation>
            <xs:documentation source="internal"/>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
            <xs:documentation xml:lang="en">
                Type for a single licensingManagedServer query result in records format.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="QueryResultRecordType">
                <xs:attribute name="parentSampleId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of parent LicensingReportSample record
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="virtualCenterId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of VC managing this Host
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="managedObjectReference" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            'moref' of this Host
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="memoryUsed" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Memory used at time of metrics snapshot
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="memoryInstalled" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Memory used at time of metrics snapshot
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="socketCount" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Socket count at time of metrics snapshot
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="name" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Host name at time of metrics snapshot
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="observationDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Observation date of metrics snaphost
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="LicensingVirtualMachineRecord" type="QueryResultLicensingVirtualMachineRecordType"
        substitutionGroup="Record">
        <xs:annotation>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                A single licensingVirtualMachine query result in records format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QueryResultLicensingVirtualMachineRecordType">
        <xs:annotation>
            <xs:documentation source="internal"/>
            <xs:documentation source="added-in">5.5</xs:documentation>
            <xs:documentation source="deprecated">36.2</xs:documentation>
            <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
            <xs:documentation xml:lang="en">
                Type for a single licensingVirtualMachine query result in records format.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="QueryResultRecordType">
                <xs:attribute name="parentSampleId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of parent LicensingReportSample record
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="virtualCenterId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Identifier of VC managing this VM
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="managedObjectReference" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            'moref' of this VM
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="observationDate" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Observation date of metrics snaphost
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="memory" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Memory used at time of metrics snapshot
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="virtualCpuCount" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.5</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            virtual cpu count used at time of metrics snapshot
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="AdminEventCBMRecord" type="QueryResultAdminEventCBMRecordType"
        substitutionGroup="Record">
        <xs:annotation>
            <xs:documentation source="added-in">5.1</xs:documentation>
            <xs:documentation source="deprecated">34.0</xs:documentation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                A single adminEventCBM query result in records format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QueryResultAdminEventCBMRecordType">
        <xs:annotation>
            <xs:documentation source="internal"/>
            <xs:documentation source="added-in">5.1</xs:documentation>
            <xs:documentation source="deprecated">34.0</xs:documentation>
            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
            <xs:documentation xml:lang="en">
                Type for a single adminEventCBM query result in records format.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="QueryResultRecordType">
                <xs:attribute name="eventId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Event ID.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="eventType" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Event type
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="timeStamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Time stamp
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="eventStatus" type="xs:int">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Event status
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="userName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            User name
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="orgName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Organization name
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entityType" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Entity type
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entityName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Entity name
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="details" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Details
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="serviceNamespace" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Service namespace
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="productVersion" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Version of the product
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entity" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Entity reference or id
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="org" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">5.1</xs:documentation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Organization reference or id
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="SiteOrgAssociationRecord" type="QueryResultSiteOrgAssociationRecordType"
        substitutionGroup="Record">
        <xs:annotation>
            <xs:documentation source="added-in">31.0</xs:documentation>
            <xs:documentation source="modifiable">always</xs:documentation>
            <xs:documentation xml:lang="en">
                A single siteOrgAssociation query result in records format.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="QueryResultSiteOrgAssociationRecordType">
        <xs:annotation>
            <xs:documentation source="internal"/>
            <xs:documentation source="added-in">31.0</xs:documentation>
            <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
            <xs:documentation xml:lang="en">
                Type for a single siteOrgAssociation query result in records format.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="QueryResultRecordType">
                <xs:attribute name="associateSiteId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">31.0</xs:documentation>
                        <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The ID of the destination site
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="associateSiteName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">31.0</xs:documentation>
                        <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The name of the destination site
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="associateOrgId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">31.0</xs:documentation>
                        <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The ID of the destination org
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="associateOrgName" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">31.0</xs:documentation>
                        <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The name of the destination org
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="associationStatus" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">31.0</xs:documentation>
                        <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The current status of the org association
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="localOrgId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation source="added-in">36.0</xs:documentation>
                        <xs:appinfo><meta:version added-in="36.0"/></xs:appinfo>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            The ID of the local org
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
